.header {
    font-style: italic;
    position: relative;
    text-align: center;
    font-size: 100px;
    border: solid black;
    background-color: blue;
}

.header2 {
    font-style: normal;
    font-size: 25px;
}

#nav-bar {
    position: fixed;
    font-size: 25px;
    background-color: blanchedalmond;
    width: 300px;
    border: 1px solid black
}

#reviews {
    position: relative;  
    left: 80px;
}

#news {
    position: relative;
    left: 40px;
}

.img {
    float: left;
    padding-right: 10px;
    padding-left: 5px;
    
}

.blog {
    left: 300px;
    position: relative;
    width: 900px;
    height: 400px;
}

